*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root{
  --main-primary-color: purple;
  --main-white-color: #fff;
  --main-styled-white-color: rgb(221, 221, 221);
}